@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: 'Space Grotesk', sans-serif;
  --font-body: 'Inter', sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply text-dark-900;
  }
}

@layer utilities {
  .border-3 {
    border-width: 3px;
  }
}
